html {
    overflow: hidden;
    scroll-behavior: smooth;
}

p {
    margin-bottom: 1.5rem !important;
}

body {
    margin: 0;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

footer{
    background: #0f0f0f;
}



.contact {
    position: relative;
    align-items: center;

  }
  .contact .social-links {
    left: 0;
  }
  .contact a {
    border-bottom: 0;
    color: #342d33;
    font-size: 1.728em;
    margin-right: 1.2em;
    padding-bottom: 0;
  }
  .contact a i {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .contact a:hover i {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

.navbar {
    background: #0f0f0f;
    min-height: 6%;
}

.paddingInitial {
    padding-top: 100px;
}

.header-Start{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px; 
    letter-spacing: .02em;
    line-height: 1em;
    text-transform: none;
    color: #fff;
}



.header-Center{
    max-width: 40em;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    color:#fff;
}

.header-End {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .05em;
    text-transform: lowercase;
    color:#fff;
}



.regular-wrapper {
width: 100vw;
padding-top: 10vh;
padding-bottom: 10vh;
background-size: 100%;
background-image:url("/public/blank.jpg");
z-index: 2;
position: relative;
margin-left: -15px;
}




.parallax-wrapper-first, .parallax-wrapper-second, .parallax-wrapper-third{
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box; 
}

@media screen and (max-width:600px) {
.parallax-wrapper-first::before, .parallax-wrapper-second::before, .parallax-wrapper-third::before {
    background-size: auto !important;
}

.paddingInitial {
    padding-top: 0px !important;
}
}

.parallax-wrapper-first::before, .parallax-wrapper-second::before, .parallax-wrapper-third::before{
    content: "";
    width: 100vw;
    height: 100vh;
    background-size: 100%;
     background-repeat: no-repeat;
    /* top:10px; */
    left: 0;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px)scale(2);
}
.parallax-wrapper-first::before{
    background-image: url("/public/VladBackground.jpg");
}

.parallax-wrapper-second::before{
    background-image: url("/public/bangbangbar.jpg");
}

.parallax-wrapper-third::before{
    background-image: url("/bladerunner.jpg"); 
}
.centerTitle {
    margin-right: auto; 
     margin-left: auto;
     padding-bottom: 50px;
}

.first-Section{
    padding: 25px;
text-align: center;
color: #fff;
}


@media screen and (max-width:1200px) {
    .paddingInitial {
        padding-top: 0px !important;
    }
}
